/* ch-32 font stack & generic fonts */
/* 
GENERIC FONT FAMILY
1. SERIF
2. sans-serif
3. cursive
4. fantasy
5. monospace

FONT-STACK=== */
body {
  font-family: "courier Cew" "Courier New", Courier, monospace;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: green;
  color: red;
}
