/* ch-70 pseudo element with image */

img {
  width: 100%;
  display: block;
  position: relative;
}
div {
  width: 60%;
  margin: 100% auto;
  border: 2px solid red;
  position: relative;
}

div::before {
  content: "";

  width: 100%;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  box-sizing: border-box;
  display: block;
  top: -40px;
  left: -40px;
  z-index: -2;
  background-color: green;
}
div::after {
  content: "";

  width: 100%;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  left: -20px;
  z-index: -1;
  background-color: gray;
}
/* div::before {
  content: "hello";
  display: block;
  background-color: rgb(24, 50, 202);
  font-size: 2rem;
  font-weight: bold;
}
div::after {
  content: "hello";
  display: block;
  background-color: blue;
  font-size: 2rem;
  font-weight: bold;
} */
