/* ch-11 spechificity css */
/* Id selector has more spesifity that class selectors.
class selecter ha smore specificity than element selectors

online resources for css specifi ity
https://www.w3scnool.com/css/css_specificity.asp*/
#white {
  color: white;
  background-color: red;
}
.red {
  color: red;
  background-color: black;
}
p {
  columns: green;
  background-color: gray;
}
