<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DemoWebxml</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mysqlconnection</display-name>
    <servlet-name>mysqlconnection</servlet-name>
    <servlet-class>database.servlet.mysqlconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mysqlconnection</servlet-name>
    <url-pattern>/mysqlconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mysqlconnection</display-name>
    <servlet-name>Mysqlconnection</servlet-name>
    <servlet-class>database.servlet.Mysqlconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mysqlconnection</servlet-name>
    <url-pattern>/Mysqlconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employeeadd</display-name>
    <servlet-name>Employeeadd</servlet-name>
    <servlet-class>database.servlet.Employeeadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employeeadd</servlet-name>
    <url-pattern>/Employeeadd</url-pattern>
  </servlet-mapping>
</web-app>