/* ch-45 HORIZONTAL CENTERING */
body {
  text-align: center;
  width: 150px;
  /* margin-left: auto;
  margin-right: auto;
  */
  margin: 20px auto;
}

.block {
  background-color: blue;
  color: aliceblue;
}
.inline {
  background-color: red;
  color: blueviolet;
}
