/* ch-34 font- weight font - style */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yesteryear&display=swap");

/* FONT-wEIGHT
font-weight: bold;
font-weight: bolder;
font-weight: lighter;
font -weight: normal;(DEFAULT)

FONT-WEGHT
font-weight: italic;
font-weight: normal(DEFAULT)
font-weight: oblique
 */
body {
  font-family: "Roboto", sans-serif;
  font-style: "Yesteryear", cursive;
}
.main {
  font-family: "yesteryear", cursive;
}

.Subheding {
  font-style: normal;
  font-weight: lighter;
}
.one {
  font-weight: bold;
}
.two {
  font-weight: bolder;
  font-style: oblique;
}
