/* ch-43 outline offset */
/* OUTLINE
PROPERTIES
outline-width: 
outline-style:
outline-color: 

SHORTHAND
OUTLINE: Width | style | color*/
* {
  padding: 0;
  margin: 0;
}
.buttons {
  margin: 3rem;
}
a {
  background-color: green;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  text-transform: uppercase;

  margin: 0 20px;
}
#one {
  border: 0.2rem solid#222;
}
#two {
  outline-width: 0.2;
  outline-style: solid;
  outline-color: #222;
  outline: 0.2rem solid red;
  outline-offset: -10px;
  outline-offset: 10px;
}
